#content {
    #navbar {
        font-family: $tipografia-uno;
        .navbar-brand {
            @include xs {
                margin: auto;
            }
        }
        .nav-link {
            font-size: 16px;
            @include xs {
                font-size: 13px;
            }
        }
        .dropdown-toggle {
            font-size: 16px;
        }
        #carrito {
            .table-sm {
                @include xs {
                    display: grid;
                }
                tr,
                #vaciar-carrito {
                    font-size: 14px;
                    @include xs {
                        font-size: 13px;
                    }
                }
                .producto-imagen {
                    width: 65px;
                    height: 65px;
                    border-radius: 0.5rem;
                    margin-bottom: 0.5rem;
                }
                .producto-titulo {
                    width: 85px;
                    @include xs {
                        width: 75px;
                    }
                }
                .producto-precio {
                    width: 70px;
                    @include xs {
                        width: 65px;
                    }
                }
                .producto-cantidad {
                    width: 80px;
                    text-align: center;
                    @include xs {
                        width: 65px;
                        text-align: center;
                    }
                }
            }
        }
    }
    #hero {
        .hero-img {
            @include xs {
                height: 280px;
            }
        }
    }
    #quienes-somos {
        .quienes-somos-img {
            filter: drop-shadow(0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
            transition: all 0.15s ease;
            &:hover {
                filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
                transition: all 0.15s ease;
            }
        }
    }
    #tienda {
        position: relative;
        width: 100%;
        &::before {
            position: absolute;
            content: "";
            width: 100%;
            height: 650px;
            background: rgb(241, 95, 48);
            background: linear-gradient(15deg, rgb(241, 96, 48) 39%, rgb(254, 213, 33) 79%);
            clip-path: polygon(100% 0, 0 0, 0 100%);
        }
        &::after {
            position: absolute;
            content: "";
            width: 100%;
            background-color: $blanco;
            clip-path: polygon(100% 0, 0 100%, 100% 100%);
        }

        .tienda-cards {
            font-family: $tipografia-dos;
            text-align: center;
            padding-bottom: 50px;
            .card {
                height: 23rem;
                border-radius: 1rem;
                background: $blanco;
                margin-top: 50px;
                box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
                @include transicion-uno;
                @include xs {
                    height: 26rem;
                }
                &:hover {
                    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
                }
                .card-img {
                    background: #ffffff;
                    margin-bottom: 1rem;
                    overflow: hidden;
                    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
                    border-radius: 1rem;
                    width: 100%;
                    height: 200px;
                }
                h6 {
                    font-family: $tipografia-dos;
                    font-size: 18px;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    color: $naranja;
                }
                p {
                    font-size: 14px;
                    letter-spacing: 1px;
                    text-align: justify;
                    color: $negro;
                }
                .card-precio {
                    display: inline-flex;
                    text-transform: uppercase;
                    font-weight: bold;
                    margin-bottom: 0;
                    color: $negro;
                    width: 120px;
                    padding-left: 0.5rem;
                }
                .agregar-carrito {
                    text-transform: uppercase;
                    width: 140px;
                    display: inline-flex;
                    justify-content: center;
                    @include xs {
                        font-size: 16px;
                    }
                }
            }
        }
    }
    #eleginos {
        .fas {
            &:hover {
                filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(136, 134, 134, 0.5));
                transition: all 0.15s ease;
            }
        }
        .descripcion {
            text-align: justify;
        }
    }
}
