.titulo {
  font-family: "Akbar", sans-serif;
  font-size: 30px;
}

.descripcion {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.subrayado-color {
  text-shadow: 2px 2px 0px #e8a9ca, 4px 3px 0px #f9dd04;
}

.subrayado-blanco {
  text-shadow: 4px 3px 0px #ffffff;
}

#content #navbar {
  font-family: "Akbar", sans-serif !important;
}

#content #hero .carousel-inner {
  height: 850px;
}

#content #quienes-somos .quienes-somos-img {
  -webkit-filter: drop-shadow(0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
}

#content #quienes-somos .quienes-somos-img:hover {
  -webkit-filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
          filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  -webkit-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

#content #tienda {
  background: #f9dd04;
  background: -webkit-gradient(linear, left top, left bottom, from(#e8a9ca), to(#f9dd04));
  background: linear-gradient(to bottom, #e8a9ca, #f9dd04);
  position: relative;
}

#content #tienda-cards {
  font-family: "Quicksand", sans-serif;
  text-align: center;
}

#content #tienda-cards .container {
  padding-bottom: 100px;
}

#content #tienda-cards .container a {
  text-decoration: none;
  outline: none;
}

#content #tienda-cards .container a .card-flyer {
  border-radius: 1rem;
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}

#content #tienda-cards .container a .card-flyer:hover {
  -webkit-box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

#content #tienda-cards .container a .card-flyer:hover .card-img {
  opacity: 0.7;
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

#content #tienda-cards .container a .card-flyer .text-box .text-container {
  padding: 30px 18px;
}

#content #tienda-cards .container a .card-flyer .text-box .text-container p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}

#content #tienda-cards .container a .card-flyer .text-box .text-container h6 {
  font-family: "Quicksand", sans-serif;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #e8a9ca;
}

#content #tienda-cards .container a .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}

#content #tienda-cards .container a .card-flyer .image-box .card-img {
  -webkit-transition: all 0.9s ease;
  transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
/*# sourceMappingURL=all.css.map */