@import url("https://fonts.cdnfonts.com/css/akbar");
.titulo {
  font-family: "Akbar", sans-serif;
  font-size: 28px;
}

.descripcion {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}

.subrayado-color {
  text-shadow: 2px 2px 0px #f9dd04, 4px 3px 0px #f15f30;
}

.subrayado-blanco {
  text-shadow: 4px 3px 0px #ffffff;
}

#content #navbar {
  font-family: "Akbar", sans-serif;
}
#content #quienes-somos .quienes-somos-img {
  filter: drop-shadow(0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
  transition: all 0.15s ease;
}
#content #quienes-somos .quienes-somos-img:hover {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  transition: all 0.15s ease;
}
#content #tienda {
  position: relative;
  width: 100%;
}
#content #tienda::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 650px;
  background: rgb(241, 95, 48);
  background: linear-gradient(15deg, rgb(241, 96, 48) 39%, rgb(254, 213, 33) 79%);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}
#content #tienda::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ffffff;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
#content .tienda-cards {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding-bottom: 50px;
}
#content .tienda-cards a {
  text-decoration: none;
  outline: none;
}
#content .tienda-cards a .card-flyer {
  height: 24rem;
  border-radius: 1rem;
  background: #ffffff;
  margin-top: 50px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}
#content .tienda-cards a .card-flyer:hover {
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
#content .tienda-cards a .card-flyer:hover .card-img {
  opacity: 0.7;
  transform: scale(1.15);
}
#content .tienda-cards a .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#content .tienda-cards a .card-flyer .text-box .text-container p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  color: #000000;
}
#content .tienda-cards a .card-flyer .text-box .text-container h6 {
  font-family: "Quicksand", sans-serif;
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f15f30;
}
#content .tienda-cards a .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
}
#content .tienda-cards a .card-flyer .image-box .card-img {
  transition: all 0.9s ease;
  width: 100%;
  height: 200px;
}
#content .tienda-cards a .card-flyer .card-price {
  background-color: #ffffff;
}
#content .tienda-cards a .card-flyer .card-price .descripcion {
  color: #000000;
}
#content .tienda-cards a .card-flyer .card-price .btn-comprar {
  color: #f15f30;
  border-color: #f15f30;
  border-width: 2px;
}
#content .tienda-cards a .card-flyer .card-price .btn-comprar:hover {
  color: #ffffff;
}
#content #eleginos .fas:hover {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(136, 134, 134, 0.5));
  transition: all 0.15s ease;
}
#content #eleginos .descripcion {
  text-align: justify;
}/*# sourceMappingURL=all.css.map */