@import url("https://fonts.cdnfonts.com/css/akbar");
.titulo {
  font-family: "Akbar", sans-serif;
  font-size: 28px;
}

.descripcion {
  font-family: "Quicksand", sans-serif;
  font-size: 20px;
}
@media (max-width: 575px) {
  .descripcion {
    font-size: 18px;
  }
}

.subrayado-color {
  text-shadow: 2px 2px 0px #f9dd04, 4px 3px 0px #f15f30;
}

.subrayado-blanco {
  text-shadow: 4px 3px 0px #ffffff;
}

#content #navbar {
  font-family: "Akbar", sans-serif;
}
@media (max-width: 575px) {
  #content #navbar .navbar-brand {
    margin: auto;
  }
}
#content #navbar .nav-link {
  font-size: 16px;
}
@media (max-width: 575px) {
  #content #navbar .nav-link {
    font-size: 13px;
  }
}
#content #navbar .dropdown-toggle {
  font-size: 16px;
}
@media (max-width: 575px) {
  #content #navbar #carrito .table-sm {
    display: grid;
  }
}
#content #navbar #carrito .table-sm tr,
#content #navbar #carrito .table-sm #vaciar-carrito {
  font-size: 14px;
}
@media (max-width: 575px) {
  #content #navbar #carrito .table-sm tr,
  #content #navbar #carrito .table-sm #vaciar-carrito {
    font-size: 13px;
  }
}
#content #navbar #carrito .table-sm .producto-imagen {
  width: 65px;
  height: 65px;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
#content #navbar #carrito .table-sm .producto-titulo {
  width: 85px;
}
@media (max-width: 575px) {
  #content #navbar #carrito .table-sm .producto-titulo {
    width: 75px;
  }
}
#content #navbar #carrito .table-sm .producto-precio {
  width: 70px;
}
@media (max-width: 575px) {
  #content #navbar #carrito .table-sm .producto-precio {
    width: 65px;
  }
}
#content #navbar #carrito .table-sm .producto-cantidad {
  width: 80px;
  text-align: center;
}
@media (max-width: 575px) {
  #content #navbar #carrito .table-sm .producto-cantidad {
    width: 65px;
    text-align: center;
  }
}
@media (max-width: 575px) {
  #content #hero .hero-img {
    height: 280px;
  }
}
#content #quienes-somos .quienes-somos-img {
  filter: drop-shadow(0.15rem 0.15rem 0.2rem rgba(0, 0, 0, 0.5));
  transition: all 0.15s ease;
}
#content #quienes-somos .quienes-somos-img:hover {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(0, 0, 0, 0.5));
  transition: all 0.15s ease;
}
#content #tienda {
  position: relative;
  width: 100%;
}
#content #tienda::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 650px;
  background: rgb(241, 95, 48);
  background: linear-gradient(15deg, rgb(241, 96, 48) 39%, rgb(254, 213, 33) 79%);
  -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
          clip-path: polygon(100% 0, 0 0, 0 100%);
}
#content #tienda::after {
  position: absolute;
  content: "";
  width: 100%;
  background-color: #ffffff;
  -webkit-clip-path: polygon(100% 0, 0 100%, 100% 100%);
          clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
#content #tienda .tienda-cards {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding-bottom: 50px;
}
#content #tienda .tienda-cards .card {
  height: 23rem;
  border-radius: 1rem;
  background: #ffffff;
  margin-top: 50px;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
  transition: all 0.2s ease-in;
}
@media (max-width: 575px) {
  #content #tienda .tienda-cards .card {
    height: 26rem;
  }
}
#content #tienda .tienda-cards .card:hover {
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
}
#content #tienda .tienda-cards .card .card-img {
  background: #ffffff;
  margin-bottom: 1rem;
  overflow: hidden;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.3);
  border-radius: 1rem;
  width: 100%;
  height: 200px;
}
#content #tienda .tienda-cards .card h6 {
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #f15f30;
}
#content #tienda .tienda-cards .card p {
  font-size: 14px;
  letter-spacing: 1px;
  text-align: justify;
  color: #000000;
}
#content #tienda .tienda-cards .card .card-precio {
  display: inline-flex;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 0;
  color: #000000;
  width: 120px;
  padding-left: 0.5rem;
}
#content #tienda .tienda-cards .card .agregar-carrito {
  text-transform: uppercase;
  width: 140px;
  display: inline-flex;
  justify-content: center;
}
@media (max-width: 575px) {
  #content #tienda .tienda-cards .card .agregar-carrito {
    font-size: 16px;
  }
}
#content #eleginos .fas:hover {
  filter: drop-shadow(0.35rem 0.35rem 0.4rem rgba(136, 134, 134, 0.5));
  transition: all 0.15s ease;
}
#content #eleginos .descripcion {
  text-align: justify;
}/*# sourceMappingURL=all.css.map */