//Tipografía

@mixin titulo {
    font-family: $tipografia-uno;
}

.titulo {
    @include titulo;
    font-size: 30px;
}

@mixin descripcion {
    font-family: $tipografia-dos;
}

.descripcion {
    @include descripcion;
    font-size: 20px;
}

@mixin subrayado {
    text-shadow: 2px 2px 0px $rosa, 4px 3px 0px $amarillo;
}

.subrayado {
    @include subrayado;
}
