//Tipografía

$tipografia-uno: "Akbar", sans-serif;
$tipografia-dos: "Quicksand", sans-serif;
$tipografia-tres: "Lato", sans-serif;

//Colores

$rosa: #e8a9ca;
$naranja: #f15f30;
$amarillo: #f9dd04;
$blanco: #ffffff;
$negro: #000000;
